<!-- start custom footer snippets -->

<table style="width:100%">
  <tr>
    <th><div class="thinkific-product-card" data-btn-txt="Enroll" data-btn-txt-color="#ffffff" data-btn-bg-color="#1b9eea" data-card-type="card" data-link-type="checkout" data-product="231128" data-embed-version="0.0.2" data-card-txt-color="#7d7d7d" data-card-bg-color="#ffffff" data-store-url="https://courses.thinkific.com/embeds/products/show"><div class="iframe-container"></div><script type="text/javascript">document.getElementById("thinkific-product-embed") || document.write('<script id="thinkific-product-embed" type="text/javascript" src="https://assets.thinkific.com/js/embeds/product-cards-client.min.js"><\/script>');</script><noscript><a href="https://tan-pham.thinkific.com/enroll/231128?et=paid" target="_blank">Enroll</a></noscript></div>
</th>
    <th><div class="thinkific-product-card" data-btn-txt="Enroll" data-btn-txt-color="#ffffff" data-btn-bg-color="#1b9eea" data-card-type="card" data-link-type="checkout" data-product="231305" data-embed-version="0.0.2" data-card-txt-color="#7d7d7d" data-card-bg-color="#ffffff" data-store-url="https://courses.thinkific.com/embeds/products/show"><div class="iframe-container"></div><script type="text/javascript">document.getElementById("thinkific-product-embed") || document.write('<script id="thinkific-product-embed" type="text/javascript" src="https://assets.thinkific.com/js/embeds/product-cards-client.min.js"><\/script>');</script><noscript><a href="https://tan-pham.thinkific.com/enroll/231305?et=paid" target="_blank">Enroll</a></noscript></div>
</th> 
  </tr>
</table>



<!-- end custom footer snippets -->