---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-title {
    color: #1D9E48;
}

.page__title {
	
    color: #1D9E48;
}

.site-title
{
	 color: #1D9E48;
}

.greedy-nav {
	color: #1D9E48;	
}

.greedy-nav a { color: #1D9E48; }


.masthead__menu { 
  color: red;
}